/build
/out
/tools/visual_studio_2017/.vs
/tools/visual_studio_2017/projects/*.user
/tools/visual_studio_2019/.vs
/tools/visual_studio_2019/projects/*.user
/external/viral/build
/tools/visual_studio_2019/*.DotSettings
/.vs
/CMakeSettings.json
/Folder.DotSettings
/source/.vs
/install
